.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 212px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../img/kub.svg), url(../img/kub.svg),
    url(../img/kub.svg), url(../img/kub.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  cursor: pointer;
}

.wrapperActive {
  width: 212px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.0001);
  background-image: url(../img/kub.svg), url(../img/kub.svg),
    url(../img/kub.svg), url(../img/kub.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.text {
  width: 200px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #c4c4c4;
}

.arrow {
  width: 10px;
  height: 6px;
  padding-right: 11px;
  padding-bottom: 15px;
  color: #c4c4c4;
}

.arrowActive {
  padding-left: 11px;
  color: #ffffff;
  transform: rotate(180deg);
}
